.backpack-term{
    background-color: #FFFFF4;
}

.backpack-moon{
    background-color: #FFFFF4;
}
.Bebas-font{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-size: 80px;
}
.roboto-font{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.moon{
   color: #76C27E;
}
.box{
    border-color: 2px solid black;
}
.casual-travel{
    font-size: 60px;
}
.image{
    background-color: #F1F1F1;
    border-radius: 20px;
}
.casual-travel-title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #363958;
    font-weight: 900;
}
.casual-design{
    background-color: white;
    border:0;
    border-radius: 20px;
}
/* .casual-section{ 

    background-color: rgb(241, 241, 241);
} */
.media{
    text-decoration: none;
}
.copyright{
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}
.price{
    color: #76C27E;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 800;
}
.buying{
    background-color: #2A1E59;
    color: white;
    border-radius: 10px;
    font-weight:700;
    padding: 15px 40px;
}
.focus{
    font-weight: 700;
    font-family: 'Alata', sans-serif;
    font-size: 25px;
}
.about-shadow{
    border-color: white;
    border:0;
    border-radius: 15px;
}
.cat-paragraph{
    color: #313131;
}
.paragraph{
    font-size: 16px;
    line-height: 26px;
    font-family:  'Roboto', sans-serif ;
    text-align: justify;
}
.pic{
    width: 100%;
}
